<h1>Welcome to your easy ToDo list manager!</h1>
<h3> To search what you have to do, go to Google</h3>
<a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=What+do+i+need+to+do+today" target="blank">Google</a>
<h2>Otherwise go to your ToDo Menu</h2>
<%= link_to 'Todo List', posts_path %>